*
{
    margin: 0;
    padding:0;  
}



header{
background-image: linear-gradient(rgba(0, 0, 0, 0.616),rgba(0, 0, 0, 0.658)), url(bck.jpg);
height: 100vh;
background-position: center;
background-size:  cover  ;
background-repeat: no-repeat;
}

 .main-nav{
 
list-style: none ;
float: right;
margin-top: 30px;
}
.main-nav li {
 display: inline-block;
    
}
.main-nav li a  {

    color : white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva , Verdana, sans-serif;
    font-size: 15px;

}

.main-nav li.active a {
      border: 1px solid white;

}

.main-nav li a:hover {

    background-color: rgb(65, 50, 38); 
}

  
.logo img{

    background-color: transparent;
    float: left;
    width: 150px;
    height:auto;

}
body{
    font-family: monospace;
}
.row{
    max-width:1800px ;
    margin-top:auto;
    margin-left: auto;
    
}

.hero{
    position: absolute;
    width:1200px;
    margin-left:0px;
     margin-top:0px;
}

h1{
      
   
    position: absolute;
    color:white;
    text-transform: uppercase;
    margin-top: 325px;
    margin-left: 250px;
    text-align: center  ;
    font-size: 50px;

  
    
}
.button{
    position: absolute;
    margin-top: 400px;  
    margin-left: 325px;
}

.btn{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    font-size: 15px;
}
.btn-one  {
border: 1px solid white;
padding: 15px;
background-color: rgb(49, 13, 49);
}
.btn-two  {
    border: 1px solid white;
    padding: 15px;
    
    }

.btn-two:hover {
    background-color: blueviolet    ;
}